@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'outfit',san-serif;
}
.container{
    width: 330px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.container img{
    width: 300px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
}
h2{
    font-weight: 700;
    width: 280px;
    text-align: center;
    margin-bottom: 20px;
    color: hsl(218, 44%, 22%);
    }
.container p{
    font-size: 15px;
    font-weight: 400;
    width: 260px;
    text-align: center;
    margin-bottom: 25px;
    color: hsl(220, 15%, 55%);
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    }
.attribution a { 
    color: hsl(228, 45%, 44%);
    }